@using TibbiTakip.Models
@model List<IlacBilgisi>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    TakipSistemiEntities5 db = new TakipSistemiEntities5();
}
<div class="container">
    @using (Html.BeginForm())
    {
        <div style="width:25%;float:right">
            @Html.TextBox("ara", null, new { @class = "form-control", @placeholder = "TC ya da Ilac Adı ile arama yapınız" })
            <div style="float:right">
                <input type="submit" name="btn" value="Ara" class="btn btn-info" />
            </div>
        </div>
    }
</div>

@if (User.IsInRole("1"))
{
    <a href="/Ilac/Ekle" class="btn btn-primary">İlaç Bilgisi Ekle</a>
    <br />
}
<br />

@*<table class="table table-bordered table-striped table-success" style="background-color: #c6c2c2;">*@
    <table class="table table-bordered table-stripe"  style="background-color: #d4d2d2;">
        @*<table class="table table-sm">*@
        <tr class="table-primary"  style="background-color: #4194d0";>
            @if (User.IsInRole("1"))
            {
                <th>Hasta TC</th>
                <th>Hasta İsim Soyisim</th>
            }
            <th>Ilac Adı</th>
            <th>Dozaj</th>
            <th>Frekans</th>
            @if (User.IsInRole("1"))
            {
                <th>Sil</th>
                <th>Düzenle</th>
            }

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("1"))
                {
                    foreach (var k in db.Kullanicilar)
                    {

                        if (item.TCKimlikNo == k.TCKimlikNo)
                        {
                            <td>@item.Kullanicilar.TCKimlikNo</td>
                            <td>@item.Kullanicilar.Ad @item.Kullanicilar.Soyad</td>
                        }
                    }
                    <td>@item.IlacAdi</td>
                    <td>@item.Dozaj </td>
                    <td>@item.Frekans </td>
                    <td>@Html.ActionLink("Sil", "Sil", new { id = item.IlacID }, new { @class = "btn btn-danger", onclik = "return confirm(`silmek istiyor musun?`)" })</td>
                    <td> <a href="/Ilac/Guncelle/@item.IlacID" class="btn btn-warning">Düzenle</a> </td>
                }

            </tr>
        }

        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("0"))
                {

                    if (item.Kullanicilar.TCKimlikNo.ToString() == Session["TCKimlikNo"].ToString())
                    {

                        @*<td>@item.Kullanicilar.TCKimlikNo</td>
                            <td>@item.Kullanicilar.Ad @item.Kullanicilar.Soyad</td>*@
                        <td>@item.IlacAdi</td>
                        <td>@item.Frekans </td>
                        <td>@item.Dozaj </td>
                    }
                }
            </tr>
        }
    </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
